body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: #000000;
  text-decoration: none;
}

.errorMessageContainer {
  margin: 10px 0;
}

.errorMessageText {
  color: red;
  font-weight: bold;
}

.formContainer {
  height: 80vh;
}

.form {
  width: 60%;
}

.formInputContainer {
  margin: 10px 0 !important;
  width: 100%;
}
